npm init
npm i express
npm i nodemon -D /para que se vuelva a correr el servidor al hacer un cambio, luego en package json agregar el script "dev": "nodemon src/index.js"

npm i morgan /paquete para ver peticiones por consola

npm i mongoose / modulo para conectar a mongodb y modelar los datos, decirle a mongodb que valide los datos antes de guardar

npm i bcryptjs /luego para la encriptacion de password and generate token, nueva i

npm i jsonwebtoken / token p

npm i coockie-parser / validacion de token en parte de route profile, permite añadir middleware

//para_validaciones:

npm i zod


//creacion de client

cls

npm create vite

cd client

npm install

npm run dev


//instalacion de tailwind

npm install -D tailwindcss@3 postcss autoprefixer
npx tailwindcss init -p

content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}",
  ],


npm install react-router-dom

npm install react-hook-form



npm i axios // biblioteca que engloba fetch, no reemplazo

npm i cors